body {
    font-family: 'Open Sans', sans-serif;
}

.header {
    display: table;
    margin: 0 auto;
}

.header h1 {
    color: #3d4449;
    line-height: 1.5;
    font-weight: 700;
    font-size: 4.2em;
    font-family: 'Poppins', sans-serif;
}

.menu {
    display: table;
    margin: 0 auto;
}

button {
    border: 0;
    padding: 10px;
    width: 220px;
    background-color: rgb(233, 233, 233);
    background-color: rgba(196, 199, 194, 0.2);
}

button h4 {
    color: slategrey;
    margin: 0;
}

.btn-selected {
    background-color: rgb(217, 217, 217);
    background-color: rgba(196, 199, 194, 0.5);
}

#indexs {
    width: 50px;
    height: 800px;

    margin-top: 15%;
    margin-left: 10%;
}

#indexs button {
    width: 35px;
    height: 60px;
    padding: 10px;

    border: 0;
    background-color: rgb(252, 255, 250);
}

#indexs button h4 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(-90deg);

    white-space: inherit;
}

#indexs .btn-selected {
    background-color: rgb(217, 217, 217);
    background-color: rgba(196, 199, 194, 0.5);
}

.content {
    display: table;
    margin: 40px auto;
}

.img_section {
    margin-bottom: 30px;
}

.first_group {
    margin-right: 30px;

    float: left;
    position: relative;
}

.second_group {
    margin-top: 60px;

    float: left;
    position: relative;
}

.won {
    width: 400px;

    float: left;
    position: relative;
}

.nominees {
    width: 400px;

    float: left;
    position: relative;
}

.center {
    display: table;
    margin: 0 auto;
}


#best-films {
    display: none;
    width: 1000px;
    height: 800px;
}

#lead-actress {
    width: 1000px;
    height: 800px;
}

#lead-actor {
    width: 1000px;
    height: 800px;
}

